h1{
    font-size: 100px;
    color: black;
    text-align: center;
}
h2{
    font-size: 50px;
    color: black;
    text-align: center;
}


section1{
  display: block;
  width: 900px;
  height: 450px;
  background: blue;
  align-items: center;
}
section2 {
  width: 250;
  height: 250;
}