h1{
    font-size: 100px;
    color: black;
    text-align: center;
}
h2{
    font-size: 50px;
    color: black;
    text-align: center;
}

.paragraphe{
  font-size: 32px;
  border: 2px solid black;
    padding: 10px;

}

.titre{
  margin-top: auto;
}

header{
  align-items: center;
  flex: auto;

}