h1{
    font-size: 100px;
    color: black;
    text-align: center;
}
h2{
    font-size: 50px;
    color: black;
    text-align: center;
}


section1{
  display: block;
  width: 900px;
  height: 450px;
  background: blue;
  align-items: center;
  margin: 0 auto; 
}
section2{
  width: 25px;
  height: 25px;
  align-items: flex-start;
}
img{
<<<<<<< HEAD
  width: 25px;
  height: 25px;
  align-items: flex-start;
}
.section-boutons {
    padding: 20px;
    background: red;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section-boutons a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}

.section-boutons a:hover {
    background-color: green;
}
=======
  width: 50px;
  height: 50px;
  align-items: start;
}
>>>>>>> origin/main
