h1{
    font-size: 100px;
    color: blueviolet;
    text-align: center;
}
h2{
    font-size: 50px;
    color: blueviolet;
    text-align: center;
}
cadre{
    border: 2px solid black;   /* épaisseur, style, couleur */
    padding: 15px;             /* espace intérieur */
    width: 300px;              /* largeur optionnelle */
}