h1{
    font-size: 100px;
    color: black;
    text-align: center;
}
h2{
    font-size: 50px;
    color: black;
    text-align: center;
}

.paragraphe{
  font-size: 32px;
  border: 2px solid black;
    padding: 10px;

}

header {
  display: flex;
  align-items: center;       
  gap: 250px;
  padding: 20px;
}

header img {
  height: 100px;              
  width: auto;                
}

.titre {
  display: flex;
  flex-direction: column;   
  justify-content: center;   
}

.titre h1,
.titre h2 {
  margin: 0;                  
  line-height: 1.2;
}


