h1{
    font-size: 100px;
    color: black;
    text-align: center;
}
h2{
    font-size: 50px;
    color: black;
    text-align: center;
}

.paragraphe{
  font-size: 25px;
  border: 2px solid black;
    padding: 5px;

}

header {
  display: flex;
  align-items: center;       
  gap: 250px;
  padding: 20px;
}

header img {
  height: 100px;              
  width: auto;                
}

.titre {
  display: flex;
  flex-direction: column;   
  justify-content: center;   
}

.titre h1,
.titre h2 {
  margin: 0;                  
  line-height: 1.2;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: sans-serif;
}

.field {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 12px;
}

.field.small {
    font-size: 15px;
}

.field input {
    border: none;
    outline: none;
    font-size: 14px;
}

.icon {
    font-size: 18px;
    margin-right: 5px;
}

.search-btn {
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 15px;
    background: white;
    cursor: pointer;
    font-size: 14px;
}
.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%;              
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    width: 150px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    list-style: none;
}


.dropdown a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.dropdown a:hover {
    background: #f2f2f2;
}


.profile-menu:hover .dropdown {
    display: block;
}